.italico {font-style: oblique}

ol {font-weight: bold;}

ul {font-weight: normal;}

/* https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
.rodape {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  .page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold;
  }